<div class="contact-container">
    <form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">
        <div class="form-field">
            <label for="email">Email</label>
            <input pInputText type="text" id="email" name="email" formControlName="email" required>
            <div *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)">
                Veuillez fournir un e-mail valide.
            </div>
        </div>
        <div class="form-field">
            <label for="password">Password</label>
            <input pInputText type="email" id="password" name="password" formControlName="password" required>

            <div
                *ngIf="myForm.get('password').invalid && (myForm.get('password').dirty || myForm.get('password').touched)">
                Veuillez fournir un mot de passe valide.
            </div>
        </div>

        <div class="flex justify-content-between">
            <p-button type="submit" label="Se connecter" [disabled]="myForm.invalid" severity="primary" />
        </div>
        <div>
            <a style="margin-left: 10px; font-weight: 500; cursor: pointer;" routerLink="account">Créer un nouveau
                compte</a>
        </div>
    </form>
</div>